<form action="/create_favorite_from_restaurant" method="post">

  <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @favorite.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
