<h1>
  Add a new restaurant
</h1>


<hr>

<form action="/create_restaurant" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control">
  </div>

  <div class="form-group">
    <label for="comments_count">
      Comments count
    </label>

    <input type="text" id="comments_count" name="comments_count" class="form-control">
  </div>

  <div class="form-group">
    <label for="cuisine_id">
      Cuisine
    </label>

    <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name, @restaurant.cuisine_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create restaurant
  </button>
</form>

<hr>

<a href="/restaurants">
  Go back
</a>
