<h1>
  Add a new restaurant
</h1>


<hr>

<!-- Form restaurant start -->
<form action="/create_restaurant" method="post">
<!-- Form restaurant end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for address start -->
  <div class="form-group">
    <label for="address">
      Address
    </label>

    <!-- Input for address start -->
    <input type="text" id="address" name="address" class="form-control">
    <!-- Input for address end -->
  </div>
  <!-- Label and input for address end -->

  <!-- Label and input for comments_count start -->
  <div class="form-group">
    <label for="comments_count">
      Comments count
    </label>

    <!-- Input for comments_count start -->
    <input type="text" id="comments_count" name="comments_count" class="form-control">
    <!-- Input for comments_count end -->
  </div>
  <!-- Label and input for comments_count end -->

  <!-- Label and input for cuisine_id start -->
  <div class="form-group">
    <label for="cuisine_id">
      Cuisine
    </label>

    <!-- Input for cuisine_id start -->
    <input type="text" id="cuisine_id" name="cuisine_id" class="form-control">
    <!-- Input for cuisine_id end -->
  </div>
  <!-- Label and input for cuisine_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create restaurant
  </button>
</form>

<hr>

<a href="/restaurants">
  Go back
</a>
