<h1>
  Edit cuisine #<%= @cuisine.id %>
</h1>

<hr>

<form action="/update_cuisine/<%= @cuisine.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @cuisine.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update cuisine
  </button>
</form>

<hr>

<a href="/cuisines">
  Go back
</a>
